// show all if in elementor edit mode
.elementor-element-edit-mode {
  .child-navigation {
    ul {
      display: block !important;

      &.children {
        display: block !important;
      }
    }
  }
}

// TODO: other extra custom breakpoints in future: body[data-elementor-device-mode=...]
// single small
body[data-elementor-device-mode=mobile] {
  .breakpoint-mobile {
    .child-navigation-container {
      .menu-toggle {
        display: flex;
      }

      > .child-navigation-inner {
        display: none;
      }
    }
  }
}

// Large tablet and down
body[data-elementor-device-mode=tablet],
body[data-elementor-device-mode=mobile] {
  .breakpoint-tablet {
    .child-navigation-container {
      .menu-toggle {
        display: flex;
      }

      > .child-navigation-inner {
        display: none;
      }
    }
  }
}

.child-navigation-container {
  // UL navigation container
  .child-navigation-inner {
    &.active {
      display: block !important;
    }

    // TODO: animation slide down
  }

  // toggle title with icon
  .menu-toggle {
    display: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;

    // TODO: animation icon
    .menu-toggle-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--nav-menu-icon-size, 22px);
      // padding: 0.25em;
      // border: 0 solid;
      // border-radius: 3px;
      // background-color: rgba(0, 0, 0, 0.05);
      // color: #494c4f;

      &.active .elementor-menu-toggle__icon--open {
        display: none;
      }

      &:not(.active) .elementor-menu-toggle__icon--close {
        display: none;
      }
    }
  }
}

/*


.title {
  display: block;
}*/

/*.elementor-nav-menu--dropdown-mobile .elementor-nav-menu--main {
  display: none;
}*/
// }


.child-navigation {
  // default padding
  --padding-top: 10px;
  --padding-right: 20px;
  --padding-bottom: 10px;
  --padding-left: 20px;
  // default margin
  --margin-top: 5px;
  --margin-right: 5px;
  --margin-bottom: 5px;
  --margin-left: 5px;
  --sub-padding-left: 20px;


  &.modern {
    list-style: none;
    padding: 0;

    // every list style
    ul {
      list-style: none;
      padding-left: var(--sub-padding-left);
    }

    // every children list style
    ul.children {
      display: none;
    }

    // any list with active item (or child item) show first child as display: block
    .current_page_ancestor,
    .current_page_parent,
    .current_page_item {
      display: block;

      > ul.children {
        display: block;
      }
    }


    // global link
    a {
      // set padding from control
      padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
      margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
      border-radius: 10px;
      display: block;
    }

    // sub links
    /*> li {
      > a {
        // set padding from control
        padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
        margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
        border-radius: 10px;
        display: block;
      }
    }*/
  }
}