// show all if in elementor edit mode
.elementor-element-edit-mode {
  .child-navigation {
    ul {
      display: block !important;

      &.children {
        display: block !important;
      }
    }
  }
}

.child-navigation {
  // default padding
  --padding-top: 10px;
  --padding-right: 20px;
  --padding-bottom: 10px;
  --padding-left: 20px;
  // default margin
  --margin-top: 5px;
  --margin-right: 5px;
  --margin-bottom: 5px;
  --margin-left: 5px;
  --sub-padding-left: 20px;


  &.modern {
    list-style: none;
    padding: 0;

    // every list style
    ul {
      list-style: none;
      padding-left: var(--sub-padding-left);
    }

    // every children list style
    ul.children {
      display: none;
    }

    // any list with active item (or child item) show first child as display: block
    .current_page_ancestor,
    .current_page_parent,
    .current_page_item {
      display: block;

      > ul.children {
        display: block;
      }
    }


    // global link
    a {
      // set padding from control
      padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
      margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
      border-radius: 10px;
      display: block;
    }

    // sub links
    /*> li {
      > a {
        // set padding from control
        padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
        margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
        border-radius: 10px;
        display: block;
      }
    }*/
  }
}