.elementor-element-edit-mode .child-navigation ul {
  display: block !important;
}
.elementor-element-edit-mode .child-navigation ul.children {
  display: block !important;
}

body[data-elementor-device-mode=mobile] .breakpoint-mobile .child-navigation-container .menu-toggle {
  display: flex;
}
body[data-elementor-device-mode=mobile] .breakpoint-mobile .child-navigation-container > .child-navigation-inner {
  display: none;
}

body[data-elementor-device-mode=tablet] .breakpoint-tablet .child-navigation-container .menu-toggle,
body[data-elementor-device-mode=mobile] .breakpoint-tablet .child-navigation-container .menu-toggle {
  display: flex;
}
body[data-elementor-device-mode=tablet] .breakpoint-tablet .child-navigation-container > .child-navigation-inner,
body[data-elementor-device-mode=mobile] .breakpoint-tablet .child-navigation-container > .child-navigation-inner {
  display: none;
}

.child-navigation-container .child-navigation-inner.active {
  display: block !important;
}
.child-navigation-container .menu-toggle {
  display: none;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.child-navigation-container .menu-toggle .menu-toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--nav-menu-icon-size, 22px);
}
.child-navigation-container .menu-toggle .menu-toggle-icon.active .elementor-menu-toggle__icon--open {
  display: none;
}
.child-navigation-container .menu-toggle .menu-toggle-icon:not(.active) .elementor-menu-toggle__icon--close {
  display: none;
}

/*


.title {
  display: block;
}*/
/*.elementor-nav-menu--dropdown-mobile .elementor-nav-menu--main {
  display: none;
}*/
.child-navigation {
  --padding-top: 10px;
  --padding-right: 20px;
  --padding-bottom: 10px;
  --padding-left: 20px;
  --margin-top: 5px;
  --margin-right: 5px;
  --margin-bottom: 5px;
  --margin-left: 5px;
  --sub-padding-left: 20px;
}
.child-navigation.modern {
  list-style: none;
  padding: 0;
  /*> li {
    > a {
      // set padding from control
      padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
      margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
      border-radius: 10px;
      display: block;
    }
  }*/
}
.child-navigation.modern ul {
  list-style: none;
  padding-left: var(--sub-padding-left);
}
.child-navigation.modern ul.children {
  display: none;
}
.child-navigation.modern .current_page_ancestor,
.child-navigation.modern .current_page_parent,
.child-navigation.modern .current_page_item {
  display: block;
}
.child-navigation.modern .current_page_ancestor > ul.children,
.child-navigation.modern .current_page_parent > ul.children,
.child-navigation.modern .current_page_item > ul.children {
  display: block;
}
.child-navigation.modern a {
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
  border-radius: 10px;
  display: block;
}

/*# sourceMappingURL=child.navigation.css.map */
